* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
}
div{
    line-height: 1.5;
}
.header{ 
    background-color: green;
    color: white;
    text-align: center;
    padding: 6px;
    font-size: 26px;
    font-weight: normal;
}
.sidebar{
    background-color: red;
    color: white;
    float: left;
    width: 200px;
    height: auto;
    padding-left: 48px;
    padding-top: 25px;
}
.main{
    background-color: white;
    margin-left: 200px;
    text-align: justify;
    padding: 33px;
    padding-top: 21px;
    min-height: calc(100vh - 84px);
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
    bottom: 0;
    font-size: large;
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    background-color: red;
}
li {
    margin: 5px;
    width: 120px;
    list-style-type: none;
}
a{
    display: block;
    color: white;
}
a:hover{
    background: green;
}
article {
    font-size: large;
}
article::first-letter {
    font-size: x-large;
    color: red;
}
article::selection{
    background: green;
    color: white;
}