* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
}
menu {
    width: calc(100% - 10px);
    margin-top: 10px;
    margin-left: 10px;
}
#wrapper{
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 80px);
}
.square{
    position: absolute;
    background: rgba(255, 0, 0, 0.7);
    border: 1px solid black;
}
.triangle{
    position: absolute;
	border-left: 25px solid transparent; /* эти меняем для изменения размеров*/
	border-right: 25px solid transparent;
	border-bottom: 50px solid rgba(0, 0, 255, 0.7); /* высота + цвет*/
}
.circle{
    position: absolute;
    background-color: rgba(0, 128, 0, 0.7);
    border-radius: 50%;
    border: 1px solid black;
}